In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
def basic_visualization(dataset):
    pass

In [3]:
def BloodGroupTypes(data):
    data.loc[(data['Blood Group'] == 'A+')|(data['Blood Group'] == 'A'),'Blood Group']='A+ve'
    data.loc[(data['Blood Group'] == 'B+')|(data['Blood Group'] == 'B'),'Blood Group']='B+ve'
    data.loc[(data['Blood Group'] == 'O+')|(data['Blood Group'] == 'O'),'Blood Group']='O+ve'
    data.loc[(data['Blood Group'] == 'AB+')|(data['Blood Group'] == 'AB'),'Blood Group']='AB+ve'
    data.loc[(data['Blood Group'] == 'A-'),'Blood Group']='A-ve'
    data.loc[(data['Blood Group'] == 'B-'),'Blood Group']='B-ve'
    data.loc[(data['Blood Group'] == 'O-'),'Blood Group']='O-ve'
    data.loc[(data['Blood Group'] == 'AB-'),'Blood Group']='AB-ve'
    return data

In [4]:
def data_cleaning(dataset):
    print("Initial size of dataset {}".format(dataset.shape))
    err= dataset[ data['Blood Group'] == '#REF!' ].index
    dataset.drop(err, inplace=True)
    print("Dataset Size after removing err records {}".format(dataset.shape))
    errVAl= data[ data['Age in yrs'] == '#VALUE!' ].index
    dataset.drop(errVAl, inplace=True)
    print("Dataset Size after removing err value records {}".format(dataset.shape))    
    invalid_r= dataset[(dataset['Blood Group'].isnull()) & (dataset['Sex'].isnull())& (dataset['Height'].isnull())&(dataset['Weight'].isnull())& (dataset['BMI'].isnull())].index
    dataset.drop(invalid_r, inplace=True)
    print("Dataset Size after removing invalid records {}".format(dataset.shape))
    return dataset

In [5]:
def data_manipulation(dataset):
    dataset=BloodGroupTypes(dataset)
    print("Blood Group Types available {}".format(data['Blood Group'].unique()))

In [6]:
data=pd.read_csv('reqdata.csv')

In [7]:
data=data_cleaning(data)

Initial size of dataset (2803, 34)
Dataset Size after removing err records (2801, 34)
Dataset Size after removing err value records (2795, 34)
Dataset Size after removing invalid records (1407, 34)

In [8]:
data.head()

,UHID,Sex,Age in yrs,Blood Group,Class,School ID,Height,Weight,BMI,Temperature,...,Eye_Issue,ENT_Issue_Detail,Eye_Issue_Detail,Wears_Glass,Left_Eye_Power,Right_Eye_Power,Left_Eye_Pwr_WthGlass,Right_Eye_Pwr_WthGlass,Overall Summary,Recommendation
0,100-0000-0001,Male,13,A+,8,S0000001,152.2 cm,57.2 kg,24.7,96.4 F,...,No,NaN,NaN,Yes,6/6,6/36,6/6,6/12,Refractive error right eye,ophthalmologists reference
1,100-0000-0002,Male,14,O+,8,S0000001,160.7 cm,36.9 kg,14.3,97.5 F,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,NaN,NaN
2,100-0000-0003,Female,13,O+,8,S0000001,143.7 cm,37.2 kg,18.0,97.7 F,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,In good health condition,NaN
3,100-0000-0004,Female,13,B+,8,S0000001,157.3 cm,45.4 kg,18.3,97.8 F,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,In good health condition,NaN
4,100-0000-0005,Male,14,B+,8,S0000001,154.2 cm,40.1 kg,16.9,9.3 F,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,NaN,NaN

In [9]:
data.iloc[[613, 1095, 1215],:]

,UHID,Sex,Age in yrs,Blood Group,Class,School ID,Height,Weight,BMI,Temperature,...,Eye_Issue,ENT_Issue_Detail,Eye_Issue_Detail,Wears_Glass,Left_Eye_Power,Right_Eye_Power,Left_Eye_Pwr_WthGlass,Right_Eye_Pwr_WthGlass,Overall Summary,Recommendation
614,100-0000-0696,Female,6,NaN,1,S0000003,109 cm,15.5 kg,13.0,98.4 F,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,In good health condition,NaN
1097,100-0000-1193,Female,8,NaN,3,S0000003,NaN,NaN,#VALUE!,NaN,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,NaN,NaN
1218,100-0000-1314,Female,5,NaN,UKg,S0000002,105.3 cm,14.0 kg,12.6,98.4 F,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,Advice nutritional support,NaN

In [10]:
#data1 = pd.read_excel("HKinterns_shared_data.xlsx",engine='openpyxl',)

In [11]:
data.columns

Index(['UHID', 'Sex', 'Age in yrs', 'Blood Group', 'Class', ' School ID',
       'Height', 'Weight', 'BMI', 'Temperature', 'BP', 'Pulse', 'CBTestResult',
       'Caries', 'Discoloration', 'Healthy_Gums', 'Malocclusion',
       'Oral_Hygine', 'TeethWellFormed', 'Serious_Dental_Issue',
       'Dentist_Recommendation', 'LEFT_EAR', 'RIGHT_EAR', 'ENT_Issue',
       'Eye_Issue', 'ENT_Issue_Detail', 'Eye_Issue_Detail', 'Wears_Glass',
       'Left_Eye_Power', 'Right_Eye_Power', 'Left_Eye_Pwr_WthGlass',
       'Right_Eye_Pwr_WthGlass', 'Overall Summary', 'Recommendation'],
      dtype='object')

In [12]:
data[['BP','Age in yrs']].head(200)

               BP Age in yrs
0    104/75  mmHg         13
1    150/69  mmHg         14
2    113/67  mmHg         13
3    114/78  mmHg         13
4     95/56  mmHg         14
..            ...        ...
195           NaN          7
196           NaN          7
197           NaN          8
198           NaN          8
199           NaN          7

[200 rows x 2 columns]

In [13]:

data['Age in yrs'] = data['Age in yrs'].apply(pd.to_numeric)
data['Weight'] = data['Weight'].str.rstrip('kg').apply(pd.to_numeric)
data['Height'] = data['Height'].str.rstrip('cm').apply(pd.to_numeric)
data.loc[(data['BP'].isnull()) & (data['Weight'].between(20,42,inclusive=True))& (data['Age in yrs'] == 10),'BP']='96/117'
data.loc[(data['BP'].isnull()) & (data['Weight'].between(20,42,inclusive=True))& (data['Age in yrs'] == 11),'BP']='98/119'
data.loc[(data['BP'].isnull()) & (data['Weight'].between(20,42,inclusive=True))& (data['Age in yrs'] == 12),'BP']='100/121'
data.loc[(data['BP'].isnull()) & (data['Weight']>=50) & (data['Age in yrs'] >= 13),'BP']='102/124'

In [14]:
data['BP'].unique()

array(['104/75  mmHg', '150/69  mmHg', '113/67  mmHg', '114/78  mmHg',
       '95/56  mmHg', '124/72  mmHg', '118/78  mmHg', '111/69  mmHg',
       '104/84  mmHg', '125/78  mmHg', '106/68  mmHg', '106/62  mmHg',
       '92/65  mmHg', '128/75  mmHg', '103/59  mmHg', '109/68  mmHg',
       '139/63  mmHg', '119/64  mmHg', '110/68  mmHg', nan,
       '127/80  mmHg', '103/77  mmHg', '106/70  mmHg', '111/96  mmHg',
       '128/80  mmHg', '109/75  mmHg', '124/81  mmHg', '118/68  mmHg',
       '137/90  mmHg', '143/89  mmHg', '114/68  mmHg', '134/78  mmHg',
       '101/60  mmHg', '134/79  mmHg', '120/80  mmHg', '115/71  mmHg',
       '121/78  mmHg', '120/73  mmHg', '115/75  mmHg', '115/69  mmHg',
       '102/81  mmHg', '122/76  mmHg', '107/73  mmHg', '98/61  mmHg',
       '93/80  mmHg', '109/76  mmHg', '120/78  mmHg', '125/76  mmHg',
       '119/82  mmHg', '121/63  mmHg', '130/73  mmHg', '114/79  mmHg',
       '126/84  mmHg', '115/72  mmHg', '120/50  mmHg', '91/55  mmHg',
       '119/87  mmHg', '113/74  mmHg', '86/58  mmHg', '111/71  mmHg',
       '107/68  mmHg', '100/65  mmHg', '128/73  mmHg', '87/61  mmHg',
       '97/65  mmHg', '94/68  mmHg', '120/85  mmHg', '139/87  mmHg',
       '126/81  mmHg', '125/82  mmHg', '115/82  mmHg', '121/80  mmHg',
       '109/67  mmHg', '108/73  mmHg', '121/74  mmHg', '91/61  mmHg',
       '108/66  mmHg', '117/69  mmHg', '137/80  mmHg', '109/78  mmHg',
       '145/88  mmHg', '82/57  mmHg', '110/86  mmHg', '118/72  mmHg',
       '116/76  mmHg', '91/64  mmHg', '112/69  mmHg', '94/58  mmHg',
       '108/65  mmHg', '105/79  mmHg', '123/81  mmHg', '134/80  mmHg',
       '118/79  mmHg', '88/55  mmHg', '108/77  mmHg', '121/86  mmHg',
       '90/65  mmHg', '182/98  mmHg', '105/75  mmHg', '120/82  mmHg',
       '127/71  mmHg', '129/109  mmHg', '113/77  mmHg', '104/68  mmHg',
       '90/67  mmHg', '100/121', '120/67  mmHg', '96/66  mmHg',
       '90/66  mmHg', '114/66  mmHg', '119/71  mmHg', '98/119',
       '139/92  mmHg', '116/9*  mmHg', '98/58  mmHg', '113/76  mmHg',
       '104/81  mmHg', '97/75  mmHg', '107/62  mmHg', '107/63  mmHg',
       '100/66  mmHg', '86/60  mmHg', '118/73  mmHg', '95/59  mmHg',
       '106/64  mmHg', '91/63  mmHg', '113/79  mmHg', '108/78  mmHg',
       '99/68  mmHg', '93/63  mmHg', '99/71  mmHg', '102/62  mmHg',
       '109/69  mmHg', '93/59  mmHg', '97/69  mmHg', '106/75  mmHg',
       '104/63  mmHg', '97/72  mmHg', '88/54  mmHg', '100/56  mmHg',
       '95/64  mmHg', '83/60  mmHg', '100/63  mmHg', '110/67  mmHg',
       '103/65  mmHg', '107/84  mmHg', '98/67  mmHg', '94/67  mmHg',
       '94/61  mmHg', '106/69  mmHg', '88/59  mmHg', '96/117',
       '114/76  mmHg', '117/58  mmHg', '96/58  mmHg', '93/53  mmHg',
       '93/65  mmHg', '114  mmHg', '122.7  mmHg', '101/67  mmHg',
       '92/60  mmHg', '122/73  mmHg', '101/73  mmHg', '120/70  mmHg',
       '118/75  mmHg', '117/85  mmHg', '109/71  mmHg', '98/71  mmHg',
       '122/82  mmHg', '96/71  mmHg', '104/79  mmHg', '93/67  mmHg',
       '102/65  mmHg', '104/60  mmHg', '103/62  mmHg', '126/71  mmHg',
       '116/67  mmHg', '112/80  mmHg', '96/73  mmHg', '86/66  mmHg',
       '119/85  mmHg', '117/62  mmHg', '76/55  mmHg', '89/66  mmHg',
       '94/62  mmHg', '127/84  mmHg', '112/66  mmHg', '102/84  mmHg',
       '139/71  mmHg', '114/77  mmHg', '95/67  mmHg', '105/81  mmHg',
       '126/76  mmHg', '101/69  mmHg', '96/63  mmHg', '106/60  mmHg',
       '113/63  mmHg', '102/67  mmHg', '88/70  mmHg', '121/65  mmHg',
       '122/78  mmHg', '90/62  mmHg', '99/61  mmHg', '101/70  mmHg',
       '91/60  mmHg', '102/71  mmHg', '111/68  mmHg', '89/64  mmHg',
       '108/71  mmHg', '111/79  mmHg', '97/64  mmHg', '103/74  mmHg',
       '97/74  mmHg', '106/77  mmHg', '95/66  mmHg', '106/67  mmHg',
       '110/72  mmHg', '98/72  mmHg', '136/86  mmHg', '117/75  mmHg',
       '109/79  mmHg', '110/73  mmHg', '103/67  mmHg', '101/78  mmHg',
       '97/66  mmHg', '94/64  mmHg', '95/72  mmHg', '111/65  mmHg',
       '102/66  mmHg', '90/58  mmHg', '89/70  mmHg', '85/64  mmHg',
       '95/60  mmHg', '115/66  mmHg', '133/73  mmHg', '116/83  mmHg',
       '102/64  mmHg', '100/73  mmHg', '121/71  mmHg', '137/79  mmHg',
       '88/61  mmHg', '103/75  mmHg', '103/71  mmHg', '91/69  mmHg',
       '114/64  mmHg', '101/61  mmHg', '113/83  mmHg', '104/65  mmHg',
       '116/85  mmHg', '111/72  mmHg', '124/67  mmHg', '115/58  mmHg',
       '111/64  mmHg', '121/72  mmHg', '115/76  mmHg', '98/63  mmHg',
       '121/81  mmHg', '122/70  mmHg', '104/74  mmHg', '104/64  mmHg',
       '99/58  mmHg', '120/56  mmHg', '93  mmHg', '130/69  mmHg',
       '111/77  mmHg', '111/85  mmHg', '147/91  mmHg', '107/77  mmHg',
       '114/71  mmHg', '101/80  mmHg', '96/70  mmHg', '101/79  mmHg',
       '94/75  mmHg', '111/66  mmHg', '95/77  mmHg', '89/71  mmHg',
       '112/83  mmHg', '99/73  mmHg', '103/69  mmHg', '102/73  mmHg',
       '93/58  mmHg', '96/68  mmHg', '107/66  mmHg', '99/70  mmHg',
       '108/95  mmHg', '105/71  mmHg', '115/86  mmHg', '96/72  mmHg',
       '87/66  mmHg', '84/62  mmHg', '113/80  mmHg', '92/76  mmHg',
       '116/62  mmHg', '117/72  mmHg', '108/68  mmHg', '97/71  mmHg',
       '97/78  mmHg', '105/65  mmHg', '120/72  mmHg', '130/71  mmHg',
       '100/69  mmHg', '124/66  mmHg', '127/88  mmHg', '125/98  mmHg',
       '126/86  mmHg', '107/87  mmHg', '128/88  mmHg', '104/72  mmHg',
       '114/61  mmHg', '112/72  mmHg', '110/65  mmHg', '71  mmHg',
       '131/84  mmHg', '108/64  mmHg', '120/68  mmHg', '139/88  mmHg',
       '120/66  mmHg', '115/80  mmHg', '127/86  mmHg', '133/74  mmHg',
       '98/64  mmHg', '131/88  mmHg', '108/56  mmHg', '125/79  mmHg',
       '117/74  mmHg', '131/71  mmHg', '106/65  mmHg', '110/69  mmHg',
       '118/74  mmHg', '126/79  mmHg', '111/75  mmHg', '94/66  mmHg',
       '104/51  mmHg', '108/81  mmHg', '117/76  mmHg', '136/80  mmHg',
       '139/77  mmHg', '124/80  mmHg', '131/73  mmHg', '108/75  mmHg',
       '122/79  mmHg', '118/93  mmHg', '113/64  mmHg', '110/76  mmHg',
       '136/84  mmHg', '134/67  mmHg', '148/99  mmHg', '112/74  mmHg',
       '116/65  mmHg', '103/79  mmHg', '98/76  mmHg', '126/73  mmHg',
       '110/90  mmHg', '107/52  mmHg', '102/69  mmHg', '94/54  mmHg',
       '112/92  mmHg', '129/83  mmHg', '106/92  mmHg', '107/78  mmHg',
       '124/75  mmHg', '124/74  mmHg', '107/60  mmHg', '101/62  mmHg',
       '99/80  mmHg', '112/86  mmHg', '95/70  mmHg', '115/93  mmHg',
       '115/98  mmHg', '110/89  mmHg', '109/73  mmHg', '109/96  mmHg',
       '117/84  mmHg', '132/85  mmHg', '146/97  mmHg', '116/84  mmHg',
       '99/65  mmHg', '124/84  mmHg', '98/69  mmHg', '126/77  mmHg',
       '104/66  mmHg', '106/71  mmHg', '106/76  mmHg', '101/63  mmHg',
       '135/81  mmHg', '123/73  mmHg', '106/72  mmHg', '129/79  mmHg',
       '116/81  mmHg', '109/64  mmHg', '115/49  mmHg', '110/77  mmHg',
       '112/91  mmHg', '110/70  mmHg', '94/72  mmHg', '115/77  mmHg',
       '115/90  mmHg', '89/60  mmHg', '116/94  mmHg', '101/76  mmHg',
       '103/61  mmHg', '107/74  mmHg', '83/58  mmHg', '112/73  mmHg',
       '106/78  mmHg', '93/66  mmHg', '93/56  mmHg', '130/92  mmHg',
       '103/72  mmHg', '119/78  mmHg', '110/75  mmHg', '107/75  mmHg',
       '104/67  mmHg', '109/74  mmHg', '122/81  mmHg', '113/86  mmHg',
       '117/82  mmHg', '123/91  mmHg', '112/75  mmHg', '128/83  mmHg',
       '100/74  mmHg', '140/80  mmHg', '134/87  mmHg', '111/76  mmHg',
       '114/80  mmHg', '135/92  mmHg', '112/78  mmHg', '132/87  mmHg',
       '126/75  mmHg', '99/67  mmHg', '124/70  mmHg', '108/82  mmHg',
       '116/80  mmHg', '112/71  mmHg', '106/79  mmHg', '92/54  mmHg',
       '133/80  mmHg', '128/110  mmHg', '148/104  mmHg', '109/65  mmHg',
       '161/96  mmHg', '120/76  mmHg', '125/80  mmHg', '168/84  mmHg',
       '176/93  mmHg', '105/73  mmHg', '129/82  mmHg', '132/86  mmHg',
       '131/99  mmHg', '145/86  mmHg', '119/76  mmHg', '97/60  mmHg',
       '107/69  mmHg', '120/77  mmHg', '155/93  mmHg', '102/124'],
      dtype=object)

In [15]:
data.head(5)

,UHID,Sex,Age in yrs,Blood Group,Class,School ID,Height,Weight,BMI,Temperature,...,Eye_Issue,ENT_Issue_Detail,Eye_Issue_Detail,Wears_Glass,Left_Eye_Power,Right_Eye_Power,Left_Eye_Pwr_WthGlass,Right_Eye_Pwr_WthGlass,Overall Summary,Recommendation
0,100-0000-0001,Male,13,A+,8,S0000001,152.2,57.2,24.7,96.4 F,...,No,NaN,NaN,Yes,6/6,6/36,6/6,6/12,Refractive error right eye,ophthalmologists reference
1,100-0000-0002,Male,14,O+,8,S0000001,160.7,36.9,14.3,97.5 F,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,NaN,NaN
2,100-0000-0003,Female,13,O+,8,S0000001,143.7,37.2,18.0,97.7 F,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,In good health condition,NaN
3,100-0000-0004,Female,13,B+,8,S0000001,157.3,45.4,18.3,97.8 F,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,In good health condition,NaN
4,100-0000-0005,Male,14,B+,8,S0000001,154.2,40.1,16.9,9.3 F,...,No,NaN,NaN,No,6/6,6/6,NaN,NaN,NaN,NaN

*convert xlsx into csv
*remove rows with blood group '#REF!'
*adjusting blood group types
*remove rows with all nan values(except age column)