In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
def basic_visualization(dataset):
    pass

In [3]:
def BloodGroupTypes(data):
    data.loc[(data['Blood Group'] == 'A+')|(data['Blood Group'] == 'A'),'Blood Group']='A+ve'
    data.loc[(data['Blood Group'] == 'B+')|(data['Blood Group'] == 'B'),'Blood Group']='B+ve'
    data.loc[(data['Blood Group'] == 'O+')|(data['Blood Group'] == 'O'),'Blood Group']='O+ve'
    data.loc[(data['Blood Group'] == 'AB+')|(data['Blood Group'] == 'AB'),'Blood Group']='AB+ve'
    data.loc[(data['Blood Group'] == 'A-'),'Blood Group']='A-ve'
    data.loc[(data['Blood Group'] == 'B-'),'Blood Group']='B-ve'
    data.loc[(data['Blood Group'] == 'O-'),'Blood Group']='O-ve'
    data.loc[(data['Blood Group'] == 'AB-'),'Blood Group']='AB-ve'
    return data

In [4]:
def data_cleaning(dataset):
    print("Initial size of dataset {}".format(dataset.shape))
    err= dataset[ data['Blood Group'] == '#REF!' ].index
    dataset.drop(err, inplace=True)
    print("Dataset Size after removing err records {}".format(dataset.shape))
    invalid_r= dataset[(dataset['Blood Group'].isnull()) & (dataset['Sex'].isnull())& (dataset['Height'].isnull())&(dataset['Weight'].isnull())& (dataset['BMI'].isnull())].index
    dataset.drop(invalid_r, inplace=True)
    print("Dataset Size after removing invalid records {}".format(dataset.shape))
    dataset=BloodGroupTypes(dataset)
    print("Blood Group Types available {}".format(data['Blood Group'].unique()))
    return dataset

In [14]:
def data_description(data):
    data.describe()

In [16]:
data_description(data)

                 UHID   Sex Age in yrs Blood Group Class  School ID   Height  \
count            1410  1407       1410         681  1407       1410     1316
unique           1410     2         46           8    16          4      439
top     100-0000-0655  Male          7        O+ve     2  S0000003   126  cm
freq                1   723        160         243   163        732       18

          Weight      BMI Temperature  ... Eye_Issue  ENT_Issue_Detail  \
count       1317     1410        1310  ...      1203               301
unique       482      193          67  ...         2               116
top     14.4  kg  #VALUE!     97.9  F  ...        No  wax in both ears
freq          11       94          86  ...      1078                45

        Eye_Issue_Detail Wears_Glass Left_Eye_Power Right_Eye_Power  \
count                122        1201           1201            1201
unique                32           2              7               7
top     Refractive error          No            6/6             6/6
freq                  48        1160           1087            1084

       Left_Eye_Pwr_WthGlass Right_Eye_Pwr_WthGlass           Overall Summary  \
count                     41                     41                       659
unique                     5                      5                       411
top                      6/6                    6/6  In good health condition
freq                      29                     30                       114

       Recommendation
count             303
unique            188
top       ENT opinion
freq               18

[4 rows x 34 columns]

In [5]:
data=pd.read_csv('reqdata.csv')

In [6]:
data=data_cleaning(data)

Initial size of dataset (2803, 34)
Dataset Size after removing err records (2801, 34)
Dataset Size after removing invalid records (1410, 34)
Blood Group Types available ['A+ve' 'O+ve' 'B+ve' 'AB+ve' 'O-ve' 'B-ve' nan 'A-ve' 'AB-ve']

In [7]:
#data1 = pd.read_excel("HKinterns_shared_data.xlsx",engine='openpyxl',)

In [8]:
data.columns

Index(['UHID', 'Sex', 'Age in yrs', 'Blood Group', 'Class', ' School ID',
       'Height', 'Weight', 'BMI', 'Temperature', 'BP', 'Pulse', 'CBTestResult',
       'Caries', 'Discoloration', 'Healthy_Gums', 'Malocclusion',
       'Oral_Hygine', 'TeethWellFormed', 'Serious_Dental_Issue',
       'Dentist_Recommendation', 'LEFT_EAR', 'RIGHT_EAR', 'ENT_Issue',
       'Eye_Issue', 'ENT_Issue_Detail', 'Eye_Issue_Detail', 'Wears_Glass',
       'Left_Eye_Power', 'Right_Eye_Power', 'Left_Eye_Pwr_WthGlass',
       'Right_Eye_Pwr_WthGlass', 'Overall Summary', 'Recommendation'],
      dtype='object')

In [9]:
data[['BP','Age in yrs']].tail(200)

                BP Age in yrs
1210           NaN          6
1211           NaN          6
1212           NaN          5
1213           NaN          6
1214           NaN          5
...            ...        ...
1405  120/77  mmHg         28
1406  155/93  mmHg         49
1407   88/59  mmHg         26
1408           NaN         39
1409           NaN         11

[200 rows x 2 columns]

*convert xlsx into csv
*remove rows with blood group '#REF!'
*adjusting blood group types
*remove rows with all nan values(except age column)